img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 40%;
  height: auto;
  padding: 0 30%;
  margin-top: 3%;
}

.Homename {
  margin-top: 3%;
  color: black;
  text-align: center;
  font-size: 4vw;
}

@media screen and (max-width: 500px) {
  .Homename {
    margin-top: 5%;
    font-size: 50px;
  }

  img {
    margin-top: 10%;
    width: 70%;
    height: auto;
    padding: 0 15%;
  }
}
